{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Management</title>

    <!-- Bootstrap CSS CDN -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<section class = "help-you-need">
    <div class = "help-you-need-main-content container">
        <div style = "width: 100%">
            <div class = "title">
                <div class = "header">Get the moving help you need</div>
            </div>
            <div class = "horizontal-split">
                <div class = "splitter"></div>
            </div>
            <div class="help-row row">
            <div class="help-item col-xs-6 col-md-2 col-md-offset-2">
              <img class="img-responsive" src="{% static 'images/beverages.png' %}" alt="">
              <div>Beverages</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/hyperlocal.png' %}" alt="">
              <div>Hyperlocal Deliveries</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/groceries.png' %}" alt="">
              <div>Groceries</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/farm.png' %}" alt="">
              <div>Agricultural produce</div>
            </div>

          </div>
            <div class="help-row row">
            <div class="help-item col-xs-6 col-md-2 col-md-offset-2">
              <img class="img-responsive" src="{% static 'images/medicine.png' %}" alt="">
              <div>Pharmaceuticals</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/sports.png' %}" alt="">
              <div>Sports goods</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/industrial.png' %}" alt="">
              <div>Industrial machinery</div>
            </div>
            <div class="help-item col-xs-6 col-md-2">
              <img class="img-responsive" src="{% static 'images/sofa.png' %}" alt="">
              <div>House relocation</div>
            </div>
          </div>
            <div class="help-row-text">
            <span>. . . and much more. Connect the missing pieces of your logistics needs with Blowhorn!</span>
          </div>
            <div class="get-started">
            <div class="get-started-btn"  onclick="window.scrollTo(0, 0);">Get Started</div>
          </div>
        </div>
    </div>
</section>